/*Fontes*/

@font-face{
    src:url('../fonts/OpenSans-Bold.ttf');
    font-family:'Open Sans';
    font-weight:bold;
}

@font-face{
    src:url('../fonts/OpenSans-Regular.ttf');
    font-family:'Open Sans';
}

@font-face{
    src:url('../fonts/OpenSans-Italic.ttf');
    font-family:'Open Sans';
    font-style:italic;
}