.row{
    padding-left:-15px;
    padding-right:-15px;
    display:flex;
}

.container{
    max-width:1200px;
    display:flex;
    margin: 0 auto;
    padding-right:15px;
    padding-left:15px;
    min-height:1px;
}